<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/bookstore.css}">
</head>
<body>
<div class="header">
  <div class="header1">
    <ul style="margin-bottom: 0px;">
      <li>
        <div class = "headerTitle">
          <img src="../image/logo.png">
        </div>
      </li>
      <li style="width: 700px;">
        <div class = "search" style="margin-top: 30px; margin-bottom: 0px;">
          <form class="d-flex" role="search" th:action="@{'/bookstore'}">
            <select class="form-select" style = "float:left; margin-left: 2px; width: 217px; border-radius: 6px 0px 0px 6px" name = "bookCategoryIdSearch">
              <option value="">Chọn Danh mục</option>
              <option th:each = "cateList:${categoryList}" th:value = "${cateList.categoryId}" th:text = "${cateList.categoryName}">1</option>
            </select>
            <input name = "bookNameSearch" style="height: 40px; width: 350px; margin-right: 0px; border-radius: 0px 6px 6px 0px;" placeholder="Tìm kiếm sách theo từ khóa" class="form-control me-2" type="search" aria-label="Search">
            <button style="border:none; background-color: #43A316; height: 40px; margin-left: 0px" class="btn btn-outline-success" type="submit">
              <img style="width: 30px" src="../image/search.png"></button>
          </form>
        </div>
      </li>
      <li>
        <div class = "account" style="width: 50px; float:left; margin-top: 10px">
          <img style= "width: 50px; margin-top: 15px" src="../image/account.png">
        </div>
        <div class="titleAccount" style="float: left; margin-top: 10px;">
          <h6>
            <a th:if="${#request.userPrincipal == null}" style="margin-left: 0px; font-size: 12px" th:href="@{/login}" id="login-link">Đăng nhập</a>
            <a th:if="${#request.userPrincipal != null}" style="margin-left: 0px; font-size: 12px" th:href="@{/logout}">Đăng xuất</a>
          </h6>
          <h3>
            <a th:if="${#request.userPrincipal == null}" style="margin-left: 0px; margin-top: 8px" th:href="@{/account}">Tài khoản của tôi</a>
            <a th:if="${#request.userPrincipal != null}" th:utext="${#request.userPrincipal.name}" style="margin-left: 0px; margin-top: 8px" th:href="@{/account}"></a>
          </h3>
        </div>
      </li>
      <li style="margin-left: 0px">
        <div class = "account" style="width: 50px; float:left; margin-top: 10px; margin-left: 20px">
          <img style= "width: 50px; margin-top: 15px" src="../image/cart.png">
        </div>
        <div class="titleAccount" style="float: left; margin-top: 10px;">
          <h6><a style="margin-left: 0px; font-size: 12px" th:href="@{/cart}">Giỏ hàng</a></h6>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-4 nav" style="width: 100%">
    <ul style="width: 100%; background-color: #012b62; height: 50px">
      <li><a th:href="@{/bookstore}">Trang chủ</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Khác</a></li>
    </ul>
  </div>
</div>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="float: left; margin-left: 100px; width: 88%">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img style="height:450px; width: 95%" src="../image/banner1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img style="height:450px; width: 95%" src="../image/banner2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height:450px; width: 95%" src="../image/banner3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height:450px; width: 95%" src="../image/banner4.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div style="float:left;">
  <div class="tabs" style="margin-left: 100px;">
    <div style="background-color: #ececec;" class="tab-item active"><a th:href = "@{/bookstore}" style="text-decoration: none; color: #012b62">Phổ biến</a></div>
    <div style="background-color: #ececec;" class="tab-item"><a th:href = "@{sortByPriceAsc}" style="text-decoration: none; color: #012b62">Giá thấp đến cao</a></div>
    <div style="background-color: #ececec;" class="tab-item"><a th:href = "@{sortByPriceDesc}" style="text-decoration: none; color: #012b62">Giá cao đến thấp</a></div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4" style="float: left; margin-left: 100px; width: 88%; margin-top: 20px">
    <div class="col" style="height: 350px" th:each = "book, status: ${bookPriceDesc}">
      <div class="card h-100" style="width: 240px">
        <img th:src="@{/image/imageBook/__${book.bookImage}__}" style="width: 160px; height: 200px; margin-left: 40px; padding-top: 10px" class="card-img-top" alt="...">
        <div class="card-body">
          <a th:href = "@{bookstore/detail(bookId=${book.getBookId()})}"  style="text-decoration: none; color: black"><h6 th:text = "${book.bookName}" class="card-title"></h6></a>
          <p th:text = "${book.bookPrice}" class="card-text"><span style="font-size: 15px; text-decoration:underline">đ</span></p>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example" style="float: left; margin-top: 30px; margin-left: 700px">
    <a th:href = "@{'/bookstore/sortByPriceDesc'(page=${bookPriceDesc.number - 1}, name = ${bookNameSearch})}" th:if="${bookPriceDesc.hasPrevious()}">Trước</a>
    <span th:text="${bookPriceDesc.number + 1}"></span>/<span th:text="${bookPriceDesc.totalPages}"></span>
    <a  th:href = "@{'/bookstore/sortByPriceDesc'(page=${bookPriceDesc.number + 1}, name = ${bookNameSearch})}" th:if="${bookPriceDesc.hasNext()}">Sau</a>
  </nav>
</div>

<th:block th:include="header-footer/footer"></th:block>

</body>
<script>
  const $ = document.querySelector.bind(document);
  const $$ = document.querySelectorAll.bind(document);

  const tabs = $$(".tab-item");
  const panes = $$(".tab-pane");

  const tabActive = $(".tab-item.active");
  const line = $(".tabs .line");

  requestIdleCallback(function () {
    line.style.left = tabActive.offsetLeft + "px";
    line.style.width = tabActive.offsetWidth + "px";
  });

  tabs.forEach((tab, index) => {
    const pane = panes[index];

    tab.onclick = function () {
      $(".tab-item.active").classList.remove("active");
      $(".tab-pane.active").classList.remove("active");

      line.style.left = this.offsetLeft + "px";
      line.style.width = this.offsetWidth + "px";

      this.classList.add("active");
      pane.classList.add("active");
    };
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</html>
